#cart-article-btn .fa-shopping-cart {
  font-size: 10px;
}

#cart-article-btn {
  padding: 0.2rem;
  line-height: 0px;
}

.article .form-group {
  margin-bottom: 0px;
}

.article-label-product {
  margin-top: 2px;
}
