// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.home-page-container {
  margin-bottom: 1.4rem;
  h4 {
    text-align: center;
  }
  #video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
}

.get-inspired {
  text-align: center;
  img {
    width: 80%;
  }
}

.dark-container {
  text-align: center;
  background-color:#000022;
  h4 {
    color: white;
  }
}

.video-trend {
  width: 33%;

  iframe {
    width: 100%;
  }
}

.black-circle {
  font-size: 10px;
  padding-top: 8px;
}

.latest-thrend {
  width: 50%;
}

