// Specific CSS for your home-page
.home-page-container h4 {
  text-align: center;
}

.get-inspired {
  text-align: center;
  img {
    width: 80%;
  }
}

.dark-container {
  text-align: center;
  background-color:#000022;
  h4 {
    color: white;
  }
}

#black-circle {
  font-size: 10px;
  padding-top: 8px;
}


