// Specific CSS for your home-page
.home-page-container {
  margin-bottom: 1.4rem;
  h4 {
    text-align: center;
  }
  #video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
}

.get-inspired {
  text-align: center;
  img {
    width: 80%;
  }
}

.dark-container {
  text-align: center;
  background-color:#000022;
  h4 {
    color: white;
  }
}

.video-trend {
  width: 33%;

  iframe {
    width: 100%;
  }
}

.black-circle {
  font-size: 10px;
  padding-top: 8px;
}

.latest-thrend {
  width: 50%;
}

