.product-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}


.product-img-container img{
  max-width: 100%;
}

.product-show-info {
  .item {
    .quantity div:first-child {
      margin: auto auto auto 0;
    }
    .form-group {
      margin-bottom: 0px;
    }
    .form-control {
      padding-left: 100px;
      padding-right: 100px;
      height: 100%;
    }
    .cart i {
      font-size: 1rem;
    }
  }
}
