.product-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;
}


.product-img-container img{
  max-width: 100%;
}

.product-show-info {
  .item {
    .form-group {
      margin-bottom: 0px;
    }
    .form-control {
      height: 100%;
      padding: 0px;
    }
  }
}
