// For styling
.card-video-infos {
  font-size: 0.9rem;
  font-family: $body-font;
  width: 350px;

  .card-video-info-title {
    max-width: 350px;
    overflow: hidden;
  }
}


// For the scrolling

div.scrollmenu {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.invisible-scrollbar::-webkit-scrollbar {
 @media screen and (max-width: 600px) {
    display: none;
  }
}

// scroll snap


.holster {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
  font-family: monospace;
}

.container-snap {
  display: flex;
  flex: none;
  overflow-x: scroll;
}

.container-snap.x {
  width: 100%;
  flex-flow: row nowrap;

}

/* scroll-snap */
.x.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}

.container-snap > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.x.container-snap > div {
  line-height: 128px;
  font-size: 64px;
  width: 100%;

}
