.shop {
  margin-top: 100px;
  margin-bottom: -20px;
}

.card-prod img {
  width: 150px;
}

.card-prod {
  align-items: flex-start;
  margin-bottom: 30px;
  justify-content: center;
}

.card-prod .card-video-infos {
  padding-top: 0px;
}

.card-prod .info-right {
 text-align: right;
}

// temporary disable this because it is affecting the form control for all pages, to name space it
// .form-control {
//   font-size: 10px;
//   width: 50px;
//   display: inline;
// }

.cart {
  background-color: white;
  border-width: 0px;
}
