div.scrollmenu {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.invisible-scrollbar::-webkit-scrollbar {
 @media screen and (max-width: 600px) {
    display: none;
  }
}
