// videos show main-video and annotations
.big-player-container {
  height: calc(9/16*350)px;
  position: relative;
  z-index: 100;
}

.player-container {
  position: absolute;
}

.annotations {
  position: absolute;
  top: 20%;

  .annotation {
    border-radius: 2px;
    font-size: 0.9em;

    .annotation-button {
      background-color: rgba(0,0,0,0.6);
      opacity: 0.6;
      color: white;
      padding: 2px;
    }
    .annotation-button:hover {
      cursor: pointer;
      opacity: 1;
    }
    .annotation-product {
      background-color: rgba(0,0,0,0.6);
      color: white;
      border-radius: 2px;
      padding: 2px;
      //overflow: hidden;
      //transition: width 1s;
      .annotation-add-to-cart {
        color: $cart-color;
        cursor: pointer;
      }
      .annotation-add-to-cart:hover {
        cursor: pointer;
      }
    }

  }
}

.annotation-product-none {
  display: none;
}

div.sticky-card {
  position: sticky;
  top: 110px;
  padding-bottom: 8px;
}

// annotaions shake
@keyframes shake {
  // 10%, 90% {
  //   transform: translate3d(-10px, 0, 0);
  // }

  // 20%, 80% {
  //   transform: translate3d(10px, 0, 0);
  // }

  // 30%, 50%, 70% {
  //   transform: translate3d(-10px, 0, 0);
  // }

  // 40%, 60% {
  //   transform: translate3d(10px, 0, 0);
  // }
  0%, 100%   {color: $cart-color;}
  25%, 75%  {color: orange;}
  50%  {color: white;}
}

.apply-shake {
    animation: shake 0.3s ease both;
}

// videos show title and info
.video-show-description {
  font-size: 0.9rem;
  font: $body-font;

  .video-show-title {
    font-weight: bold;
    font-size: 1rem;
  }
}

// videos show product card
.video-show-shop {
  z-index: -1;
}

.video-show-shop-title {
  text-align: center;
}

.video-show-card {
  border-radius: 2px;
  font-size: 0.9rem;

  img {
    width: 100%;
    border-radius: 2px;
  }

  .jump-btn {
    padding: 0px;
    font-size: 0.9rem;
    color: rgba(0,0,0,0.6);
  }

  .video-show-card-product-name {
    max-height: 60px;
    overflow: hidden;
  }

  .form-control {
    font-size: 0.9em;
    padding: 0px;
    height: 100%;
  }

  .form-group {
    margin-bottom: 0px;
  }

  .cart {
    padding-left: 10px;
    padding-right: 10px;

    i {
      font-size: 0.9em;
      color: white;
    }
  }

  #quantity {
    padding-left: 10px;
    padding-right: 10px;
  }
}
