.big-player-container {
  height: 390px;
  position: relative;
}

.player-container {
  position: absolute;
}

.annotations {
}

.annotation {
  background-color: white;
  position: absolute;
}

.annotation-button:hover {
  cursor: pointer;
}

.annotation-add-to-cart:hover {
  cursor: pointer;
}

#player {

}

.annotation-product {
  display: none;
}

.annotation-product-block {
  display: block;
}
