<div class="container">
  <div class="row">
    <div class="col-12" data-controller="video">

<!--Filters -->
      <div class="row no-gutters">
        <div class="col-3">
          <p><strong>Filter by:</strong></p>
        </div>
        <div class="col-9 d-flex justify-content-between" style="background-color:white;">
            <button type="button" class="btn btn-primary btn-block mx-1" name="eyes" data-action="video#show">EYES</button>
            <button type="button" class="btn btn-primary btn-block mx-1 mt-0" name="lips" data-action="video#show">LIPS</button>
            <button type="button" class="btn btn-primary btn-block mx-1 mt-0" name="skin" data-action="video#show">SKIN</button>
        </div>
      </div>
      <!-- Sort Control buttons -->
      <div class="row mt-2">
        <div class="col-3">
          <p class="sort-div"><strong>Sort by:</strong></p>
        </div>
        <div class="col-9 d-flex justify-content-between my-1" style="background-color:white;" id="myBtnContainer">
          <label><input type="radio" class="btn-filter mr-1" data-tabs="all" checked><i></i>All</label>
          <label><input type="radio" class="btn-filter mr-1" data-tabs="creator"><i></i>Creator</label>
          <label><input type="radio" class="btn-filter mr-1" data-tabs="likes"><i></i>Likes</label>
          <label><input type="radio" class="btn-filter mr-1" data-tabs="views"><i></i>Views</label>
        </div>
      </div>
<!--This is template for videos to appear -->
      <template id="card-template">
        <div class="card-video-profile m-2">
          <iframe width="320" height="180" allow="autoplay" src="template" ></iframe>
          <div class="video-show-description">
            <div class="video-show-title py-1">
              <%= link_to 'video_link', '#' %>
            </div>
            <div class="video-show-info d-flex justify-content-between">
              <div class="creator" style="text-align:center;">
                Insert a creator
              </div>
              <div>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i> <span class="likes-count"> </span>
                <i class="fa fa-eye" aria-hidden="true"></i> <span class="views-count"> </span>
              </div>
            </div>
          </div>
        </div>
      </template>
      <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
      <div class="filter-container">
        <div class="filter all" data-video-target='filterresult'>
          <%= render 'shared/video_display', videos: @videos %>
        </div>

        <div class="filter creator" data-video-target='creatorresults'>
          <%#= render 'shared/video_display', videos: @videos.order('creator ASC') %>
        </div>

        <div class="filter likes" data-video-target='likesresult'>
          <%#= render 'shared/video_display', videos: @videos.order('likes DESC') %>
        </div>

        <div class="filter views" data-video-target='viewsresult'>
          <%#= render 'shared/video_display', videos: @videos.order('views DESC') %>
        </div>

      </div>
    </div>
  </div>
</div>
