<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- Control buttons -->
      <div class="d-flex justify-content-around" style="background-color:white;" id="myBtnContainer">
        <span class="sort-div">Sort by:</span>
        <label><input type="radio" class="btn-filter" data-tabs="all" checked><i></i>All</label>
        <label><input type="radio" class="btn-filter" data-tabs="creator"><i></i>Creator</label>
        <label><input type="radio" class="btn-filter" data-tabs="likes"><i></i>Likes</label>
        <label><input type="radio" class="btn-filter" data-tabs="views"><i></i>Views</label>
      </div>

      <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
      <div class="filter-container">
        <div class="filter all">
          <%= render 'shared/video_display', videos: @videos %>
        </div>

        <div class="filter creator">
          <%= render 'shared/video_display', videos: @creators %>
        </div>

        <div class="filter likes">
          <%= render 'shared/video_display', videos: @likes %>
        </div>

        <div class="filter views">
          <%= render 'shared/video_display', videos: @views %>
        </div>

      </div>
    </div>
  </div>
</div>
