  <div class="home-page-container">
    <div><iframe id="video" width="80%" height="200vh" src="https://www.youtube.com/embed/dPyKEwCn62A" ></iframe></div>
  </div>
  <div class="home-page-container">
      <h4>Popular Looks</h4>
      <div class="d-flex justify-content-around">
        <div class="card rounded" style="width: 7rem;">
          <div class="card-body">
            <a href="#" class="card-link text-light">Natural</a>
          </div>
        </div>
        <div class="card rounded" style="width: 7rem;">
          <div class="card-body">
            <a href="#" class="card-link text-light">Korean</a>
          </div>
        </div>
        <div class="card rounded" style="width: 7rem;">
          <div class="card-body">
            <a href="#" class="card-link text-light">Glam</a>
          </div>
        </div>
      </div>

    <%#= Added ID to control the circle button  %>
    <div class="d-flex justify-content-center mt-2">
      <i class="fas fa-circle mx-2 black-circle"></i>
      <i class="fas fa-circle mx-2 black-circle"></i>
      <i class="fas fa-circle mx-2 black-circle"></i>
    </div>
  </div>
<%#= Latest Trend Portion  %>
  <h4>Latest Trends</h4>
    <div class="container d-flex justify-content-around text-center pb-4">
        <div class="video-trend">
        <iframe class="video" width="85px" height="79px" src="https://www.youtube.com/embed/dPyKEwCn62A" ></iframe>
        <p>Glitter Eyes</p>
        </div>
        <div class="video-trend">
        <iframe class="video" width="85px" height="79px" src="https://www.youtube.com/embed/dPyKEwCn62A" ></iframe>
        <p>Purple Eyeliner</p>
        </div>
        <div class="video-trend">
        <iframe class="video" width="85px" height="79px" src="https://www.youtube.com/embed/dPyKEwCn62A" ></iframe>
        <p>Yellow lipstick</p>
        </div>
    </div>
<%#= Get Inspired Portion  %>
  <div class="get-inspired">
  <h4>Get Inspired</h4>
  <%= image_tag "https://images.unsplash.com/photo-1602910344008-22f323cc1817?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" %>
    <div class="d-flex justify-content-center mt-2 mb-5">
      <i class="fas fa-circle mx-2 black-circle"></i>
      <i class="fas fa-circle mx-2 black-circle"></i>
      <i class="fas fa-circle mx-2 black-circle"></i>
    </div>
  </div>
<%#= Shop by Products Portion  %>
<div class="dark-container">
  <h4>Shop by Products</h4>
  <div class="d-flex justify-content-around my-2 mx-3">
    <% product_options = ["lipstick", "blusher", "Eyeliner"] %>
    <% product_options.each do |option|  %>
      <div class="card rounded pb-4 mx-3" style="width: 7rem;">
        <div class="product-card-body bg-white">
          <a href="#" class="card-link text-dark"> <%= option %></a>
        </div>
      </div>
    <% end  %>
  </div>
  <div class="d-flex justify-content-around my-2 mx-3">
    <% product_options = ["lipstick", "blusher", "Eyeliner"] %>
    <% product_options.each do |option|  %>
      <div class="card rounded pb-4 mx-3" style="width: 7rem;">
        <div class="product-card-body bg-white">
          <a href="#" class="card-link text-dark"> <%= option %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%#= For the profile pic  %>
<%# <% if @user.present? && @user.photo.attached? %>

  <%# @user.photo.each do |photo| %>
<%#= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
<%#= link_to "Delete", "#" %>
<%# <% end %>

<p>
  <%#= link_to "Edit profile", edit_user_registration_path %>
</p>

<p>
  <%#= link_to "Product Index", products_path %>
</p>
