
<%#= Promotional Video section of the Home Page  %>
  <div class="home-page-container">
    <iframe id="video" width="100%" height="200vh" src= <%="#{@video.first.video_url}"%>></iframe>
  </div>
  <div class="home-page-container">
      <h4>Popular Looks</h4>
      <div class="d-flex justify-content-around">
      <%#= @trends - see pages controller %>
        <% @trends.each do |trend| %>
          <div class="card rounded" style="width: 7rem;">
            <div class="card-body text-center">
              <%= link_to search_path(q:trend), class:"card-link text-light" do %>
                <%= trend %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
