<div class="container">

  <div class="search-video-container my-3" style="text-align:center;">
    <% if @video_results_mapped.empty? %>
      <p>No videos matched your search</p>
    <% else %>
      <h4>Videos matching your search:</h4>
      <%= render 'shared/video_display', videos: @video_results_mapped %>
    <% end %>
  </div>

  <div class="search-product-container my-3" style="text-align:center;">
    <% if @product_results_mapped.empty? %>
      <p>No products matched your search</p>
    <% else %>
      <h4>Products matching your search:</h4>
      <%= render 'shared/product_display', products: @product_results_mapped %>
    <% end %>
  </div>

</div>
