<div class="container" style="max-width:1000px;" data-controller='filter'>
  <div style="text-align:center; margin-bottom:8px;">
    <h2>Search Results</h2>
      <input type="radio" class="btn-filter" name="searchvideo" data-action="change->filter#change">Videos
      <input type="radio" class="btn-filter" name="searchproduct" data-action="change->filter#change">Products
      <input type="radio" class="btn-filter" name="searchbrand" data-action="change->filter#change">Brands
  </div>


  <div class="search-container">
    <div class="searchvideo" data-filter-target="videoresult">
      <% if @video_results.empty? %>
        <p style="text-align:center;">No videos matched your search</p>
      <% else %>
        <h4 style="text-align:center;">Videos matching your search:</h4>
        <div class="search-video-container my-3 filter videos-search" style="text-align:center;">
          <%= render 'shared/video_display', videos: @video_results %>
        </div>
      <% end %>
    </div>

    <div class="searchproduct" data-filter-target="productresult">
      <% if @product_results.empty? %>
        <p style="text-align:center;">No products matched your search</p>
      <% else %>
        <h4 style="text-align:center;">Products matching your search:</h4>
        <div class="search-product-container my-3 filter products-search" style="text-align:center;">
          <%= render 'shared/product_display', products: @product_results %>
        </div>
      <% end %>
    </div>
  </div>

    <div class="searchbrands" data-filter-target="brandresult">
      <% if @brand_results.empty? %>
        <p style="text-align:center;">No brands matched your search</p>
      <% else %>
        <h4 style="text-align:center;">Brands matching your search:</h4>
        <div class="search-video-container my-3 filter videos-search" style="text-align:center;">
          <%= render 'shared/brand_display', brands: @brand_results %>
        </div>
      <% end %>
    </div>
</div>

