.card-cart {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  font-size: 0.9rem;

  .card-cart-description {
    font-size: 0.6rem;
  }

  img {
    max-width: 100%;
  }

  .remove-order-from-cart {
    font-size: 0.6rem;
    button {
      padding: 0px;
      background-color: transparent;
      border: none;
    }
    i {
      //font-size: 0.6rem;
    }
  }
}
