.navbar-moocoo {
  justify-content: space-between;
  background: white;
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-three-line-icon img {
  width: 40px;
  }
  .navbar-logo img {
    width: 72px;
  }
  .nav-profile > img {
    width: 3rem;
    height: 3rem;
  }
  .navbar-cart img {
    width: 40px;
  }
  .input-bar {
    font-size: 1.9rem;
  }
}

.search-icon {
  background-color: white;
  border-width: 0px;
}
