.navbar-moocoo {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-three-line-icon img {
  width: 40px;
  }
  .navbar-logo img {
    width: 72px;
  }
  .nav-profile > img {
    width: 3rem;
    height: 3rem;
  }
  .navbar-cart img {
    width: 40px;
  }
}

.search-container {
  display: flex;
  justify-content: space-between;
  #input-bar {
    // width: 391px;
    flex-grow: 1;
  }
}

// #search-icon {
//   font-size: 1.5rem;
// }

