/* The grid: Four equal columns that floats next to each other */

/* Style the images inside the grid */
.tab-images-row {
  max-height: 250px;
}

.tab-images-col img {
  opacity: 0.6;
  cursor: pointer;
}

.tab-images-col img:hover {
  opacity: 1;
}

.tab-images-col {
  // padding-left: 0px;
  padding-right: 0px;
  overflow: scroll;
}

.tab-images-photo-container img{
  max-width: 100%;
}

.tab-expanded-img {
  // padding-left: 0px;
  // padding-right: 0px;
}

/* Clear floats after the columns */

/* The expanding image container (positioning is needed to position the close button and the text) */

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

#expanded-img {
  max-width: 100%;
  height: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
