
  <div class="container index-brand-container">
    <h3>Brand Partners</h3>
    <%#= to show the brand page with 2 of the items being shown as well %>
    <% @brands.each do |brand| %>
      <div class="row">
        <div class="col-12">
          <%= image_tag brand.image_file_path %>
        </div>
      </div>
      <div class="brand-grid">
        <% @products.where(brand_id: brand.id).first(2).each do |p| %>
          <div class="brand-cart">
            <div class="card-product bg-white">
              <div class="card-product-img">
                <%= cl_image_tag p.photo_id[0], width: 400, crop: :fit %>
              </div>
              <div class="card-product-body p-2">
                <%= p.name %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <div class="show-all-product">
    <u> <%= link_to "Show All Products", brand_path(brand.id) %> </u>
    </div>
    <% end %>
  </div>
