<div class="brand-container">
  <h1> <%= @brand.name %></h1>
</div>

<div class="brand-grid">
  <% @products.each do |p| %>
    <div class="brand-cart">
      <%= render partial: "shared/productcard", locals: { product: p } %>
    </div>
  <% end %>
</div>
