<div class="container brand-container">
  <h1> <%= @brand.name %></h1>
</div>

<div class="brand-grid">
  <% @products.each do |p| %>
    <div class="brand-cart">
      <%= cl_image_tag p.last.photos.first.key, width: 300, crop: :fill %>
        <h6> <%= p.name %> </h6>
    </div>
  <% end %>
</div>

