<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row no-gutter">
        <div class="col-3">
          <p><strong>Sort by:</strong></p>
        </div>
        <div class="col-9">
          <div class="d-flex justify-content-around" style="background-color:white;" id="myBtnContainer">
            <label><input type="radio" class="btn-filter" data-tabs="all" checked><i></i>All</label>
            <label><input type="radio" class="btn-filter" data-tabs="price"><i></i>Price</label>
          </div>
        </div>
      </div>

      <div class="filter-container">
        <div class="filter all">
          <div class="cards-product my-3">
            <% @products.each do |product| %>
            <%= render partial: "shared/productcard", locals: { product: product } %>
            <% end %>
          </div>
        </div>
        <div class="filter price">
          <div class="cards-product my-3">
            <% @price.each do |product| %>
            <%= render partial: "shared/productcard", locals: { product: product } %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
