<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-around" id="myBtnContainer">
        <button class="btn-filter btn active" data-tabs="all"> All</button>
        <button class="btn-filter btn" data-tabs="price"> Price</button>
      </div>

      <div class="filter-container">
        <div class="filter all">
          <div class="cards-product my-3">
            <% @products.each do |product| %>
            <%= render partial: "shared/productcard", locals: { product: product } %>
            <% end %>
          </div>
        </div>
        <div class="filter price">
          <div class="cards-product my-3">
            <% @price.each do |product| %>
            <%= render partial: "shared/productcard", locals: { product: product } %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
